</div>
        <div id="event-section">
            <div class="selected-event">
                <div id="artist-icon">
                    <img src="{{photoURL}}">
                </div>
                <h1 id="artist-name">{{artist-name}}</h1>
                <div id="location-date">
                    <h3 id="concert-location">{{location}}</h3>
                    <h3 id="concert-date">- {{date}}</h3>
                </div>
                <p id="concert-description">{{description}}</p>
                <div class="search-btn">
                    <a href="/findEvent">
                        <button>TICKETS</button>
                    </a>
                </div>
            </div>
        </div>